{% comment %}
  @param blocks Array
         Array of blocks to iterate menus through

  @param depth Number
         The starting depth to use for the class names.

  @param max_depth Number
         The maximum depth to traverse.

  @param meganav_has_triggers Bool
         Adds in triggers to open meganav items

  @param submenu_arrows Bool
         Option to display dropdown arrows
{% endcomment %}

{%- capture navmenu_classes -%}
  navmenu
  navmenu-depth-{{ depth }}
  navmenu-meganav-items
{%- endcapture -%}

<ul class="{{ navmenu_classes | strip_newlines }}" style="flex-grow: 2;">
  {% for link in link.links %}
    {% assign d = depth | plus: 1 %}
    {% assign nav_item_count = 'navmenu-item-count-' %}
    {% if link.links.size > 4 %}
      {% assign nav_item_count = nav_item_count | append: '5-up' %}
    {% else %}
      {% assign nav_item_count = nav_item_count | append: link.links.size %}
    {% endif %}

    {%- capture navmenu_item_classes -%}
      navmenu-item
      navmenu-item-parent
      {{ nav_item_count }}
      navmenu-id-{{ link.title | handle }}
      navmenu-meganav-item
    {%- endcapture -%}

    <li
      class="{{ navmenu_item_classes | strip_newlines }}"
      {% if meganav_has_triggers %}data-navmenu-trigger{% endif %}
      {{ block.shopify_attributes }}>
      <span class="navmenu-item-text navmenu-link-parent">
        <a class="navmenu-parent" href="{{ link.url }}">{{ link.title }}</a>

        {% if submenu_arrows %}
          <span class="navmenu-icon navmenu-icon-depth-{{ depth }}">
            {% include 'icon-chevron-down-small' %}
          </span>
        {% endif %}
      </span>
      {%
        include 'navmenu',
        menu: link,
        depth: d,
        max_depth: 4,
        is_submenu: true,
        has_triggers: true,
        submenu_arrows: true,
        aria_expanded: true
      %}
  {% endfor %}

</ul>
<div style="flex-grow: 1; padding-top: 18px;">
  <div style=" max-width: 450px; float: right; padding: 25px 15px;">
    <div style="position: relative;">
      <img style=" width: 100%; height: auto;" src="{{ "mega-menu-cta.jpg" | asset_url }}">
      <div style="position: absolute; top: 0; left: 15px; right: 0; bottom: 0;">
        <h3 style="max-width: 60%; font-family: 'Open Sans', sans-serif; font-weight: normal;">Product Categories</h3>
        <p style="max-width: 60%;">Browse categories through our online store.</p>
        <a href="/collections" style="padding: 0px; margin-top: 10px;">
        <span class="button-primary promo-block--button" style="margin-top: 0px;">
        All Categories
        </span>
        </a>
      </div>
    </div>
  </div>
</div>
