{% comment %}
  @param layout {String}
    Layout type

  @param is_product_modal {Bool}
    Is the snippet being loaded in a QuickShop
{% endcomment %}


{% assign table_size = false %}

{% assign enable_social_sharing = settings.product_social_sharing %}
{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign selected_image = selected_variant.image | default: product.featured_image %}
{% assign compare_at_price = selected_variant.compare_at_price %}
{% assign price = selected_variant.price %}
{% assign product_available = product.available %}
{% assign on_sale = false %}
{% if compare_at_price > price %}
  {% assign on_sale = true %}
{% endif %}

{%
  include 'consistent-savings',
  variants: product.variants,
  on_sale: on_sale
%}

{%- capture share_buttons -%}
  {% assign social_image = product | img_url: '1024x' %}
  {% assign social_url = shop.url | append: product.url %}
  {%-
    include 'share-buttons',
    snippet_title: 'general.share_buttons.title',
    social_image: social_image,
    social_title: product.title,
    social_url: social_url
  -%}
{%- endcapture  -%}

<article class="product--outer">
  {% comment %}
    Product slideshow, never moves
  {% endcomment %}
  <div class="product-gallery" data-product-gallery>
    {%
      include 'product-gallery',
      selected_image: selected_image
    %}
  </div>

  <div class="product-main">
    <div class="product-details" data-product-details>
      {% if is_product_modal %}
        <h2 class="product-title">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </h2>
      {% else %}
        <h1 class="product-title">
          {{ product.title }}
        </h1>
      {% endif %}
      
      {% if settings.product_show_vendor and product.vendor != blank %}
        <div class="product-vendor">
          {{ 'product.general.by_vendor' | t: vendor: product.vendor }}
        </div>
      {% endif %}

      {% if settings.product_ratings_reviews %}
        <div class="product-ratings">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            <span class="spr-badge">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
            </span>
          </span>
        </div>
      {% endif %}
      {% comment %}
      Product description field, never moves
    {% endcomment %}
    {% if product.description != blank %}
      <div class="product-description rte" data-product-description>
        {{ product.description }}
      </div>
    {% endif %}
      <div class="product-pricing product-container-pricing">
        {%
          include 'product-badge',
          class_root: 'product',
          product_available: product_available,
          on_sale: on_sale,
          price: price,
          compare_at_price: compare_at_price,
          show_saved: true
        %}

        {%
          include 'product-price',
          class_root: 'product',
          price: price,
          price_varies: false,
          compare_at_price: compare_at_price,
          compare_at_price_varies: false,
          on_sale: on_sale,
          emphasize_price: false,
          show_original: true
        %}
      </div>
    </div>

    {% comment %}
      Product form original location, will remain unless is 3 column layout
    {% endcomment %}
    <div class="product-form--regular" data-product-form-regular>
    {% if customer %}
    <span class="atc-subtotal--label" style="font-size: 12px; color: #666; opacity: 1;">
            * Calculate customer specific pricing at checkout
    </span>
    {% endif %}
      <div data-product-form-area>
        {% if is_product_modal %}
          <div data-product-quickshop-message class="product-message--container"></div>
        {% endif %}

        {%
          include 'product-form',
          product: product,
          selected_variant: selected_variant
        %}

        {% if enable_social_sharing and is_product_modal == false %}
          {{ share_buttons | strip_newlines }}
        {% endif %}
      </div>
    </div>

    

    {% if enable_social_sharing and is_product_modal %}
      {{ share_buttons | strip_newlines }}
    {% endif %}

    <div class="product-details" data-product-details>
      <h3 class="product-table-title">Product Details</h3>
      <table id="product_details" class="product_table">
      <tr>
          <th>Specifications</th>
          <th>Values</th>
      </tr>
      </table>
    </div>
  </div>

  {% comment %}
    If is a 3 column layout, the form will move here at $bp-large (layout.isBreakpoint('L'))
  {% endcomment %}
  {% if layout == 'layout--three-col' %}
    <div class="product-form--alt" data-product-form-alt></div>
  {% endif %}
</article>
<section class="tabs-section">
<div class="tabs-container">
  <ul id="specs_tabs" class="tabs-nav">
  <a class="specs-tab-1 active-tab" href="#"><span class="spec-list-text">Specifications</span></a>
  <a class="specs-tab-2" href="#"><span class="spec-list-text">Resources</span></a>
  </ul>
</div>
<div>
  <div class="content content-specs-tab-1">
    <div class="product-details" data-product-details>
      <h3 class="product-table-title tabs-title">Product Specifications</h3>
      <table id="product_specifications" class="product_table">
        <tr>
          <th>Specifications</th>
          <th>Values</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="content content-specs-tab-2 hidden-tab-content">
  <div class="product-details" data-product-details>
      <h3 class="product-table-title tabs-title">Product Documentation</h3>
      <div id="product_documentation"></div>
    </div>
  </div>
</div>
<script src="{{ 'specifications_data.js' | asset_url }}"></script>
<script>
  // Loop through product tags to find product indentifier
  {% for tags in product.tags %}
    {% if tags contains "_" %}
    {%else %}
      var product_tag = '{{ tags }}';
    {% endif %}
  {% endfor %}

  // Grabbing the correct data based on product page
  let product_identification = product_tag; 
  let product_data = data[product_identification]; 

  // Returning a single instance of the selected variant and creating a dynamic table from the JSON
  function variant_selector(variant){

    // Grabbing the correct JSON data for the variant
    current_variant = data[product_identification].variants[variant];

    // Grabbing the table element
    var table = document.getElementById("product_details");

    // Looping through the previous table and deleting table rows
    for(var i = table.rows.length - 1; i > 0; i--)
    {
        table.deleteRow(i);
    }

    // Looping through the new variant data and creating a fresh table
    for(let variant in current_variant){

      let details_row = document.createElement('tr'); 

      let details_key = document.createElement('td');
      let details_value = document.createElement('td');

      let details_value_text = document.createTextNode(current_variant[variant]);
      let details_key_text = document.createTextNode(variant);

      details_key.appendChild(details_key_text);
      details_value.appendChild(details_value_text);
      details_row.appendChild(details_key);
      details_row.appendChild(details_value);
    
      document.getElementById("product_details").appendChild(details_row);

    }
  }

  // Grabbing data for tables
  let myObjects = Object.keys(product_data.variants).map(function(itm) { return product_data.variants[itm]; });
  let specifications_data = product_data.specifications;
  let documentation_data = product_data.documentation;

  // Specifications Data table creation
  for(let specifications in specifications_data){
    
    let specifications_row = document.createElement('tr'); 

    let specifications_key = document.createElement('td');
    let specifications_value = document.createElement('td');

    let specifications_value_text = document.createTextNode(specifications);
    let specifications_key_text = document.createTextNode(specifications_data[specifications]);

    specifications_value.appendChild(specifications_value_text);
    specifications_key.appendChild(specifications_key_text);
    specifications_row.appendChild(specifications_value);
    specifications_row.appendChild(specifications_key);
    
    document.getElementById("product_specifications").appendChild(specifications_row);

  }

  // Documentation Data creation
  for(let documentation in documentation_data){
    
    let a = document.createElement('a');
    var br = document.createElement('br');

    let documentation_value = document.createTextNode(documentation);
    let documentation_href = documentation_data[documentation];
    
    a.innerHTML = '<i class="far fa-file-pdf"></i> ';
    a.appendChild( documentation_value);
    a.setAttribute('href', documentation_href);
    
    document.getElementById("product_documentation").appendChild(a);
    document.getElementById("product_documentation").appendChild(br);

  }
</script>
</section>