{% assign has_link = false %}
{% if block.settings.block_link != blank %}
  {% assign has_link = true %}
{% endif %}

{%- capture classes -%}
  promo-block
  promo-block--{{ block.id }}
  {{ additional_classes | strip_newlines }}
{%- endcapture -%}

<article
  class="{{ classes | replace: '  ', ' ' | strip_newlines }}"
  {{ block.shopify_attributes }}>
  <a style=""
    class="promo-block--content {% unless has_link %}promo-block--unlinked{% endunless %}"
    {% if has_link %}href="{{ block.settings.block_link }}"{% endif %}
    data-promo-block-content>
    <div class="hero-container">
    {% if block.settings.title %}
      <h2 class="promo-block--header hero-header">
        {{ block.settings.title | escape }}
      </h2>
    {% endif %}

    {% if block.settings.text %}
      <p class="promo-block--text hero-text">
        {{ block.settings.text | escape | truncate: 120 }}
      </p>
    {% endif %}

    {% if block.settings.button_text != blank and block.settings.block_link != blank %}
      <span
        class="button-{{ block.settings.button_style }} promo-block--button">
        {{ block.settings.button_text | escape }}
      </span>
    {% endif %}

    <span class="promo-block--expander">
      {% include 'icon-chevron-down' %}
    </span>
    </div>
  </a>
</article>
