<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        <div class="main" role="main">
          <div class="main__header">
            <a class="site-logo" href="/">
              <img class="site-logo-image checkout-image" src="{{ 'spacelabs-logo-small.png' | asset_url }}" alt="Spacelabs Healthcare">
            </a>
            
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div id="content_block" class="main__content" >
            {{ content_for_layout }}
          </div>

          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
  </body>
<script>  
    window.onload = function(){

      // SHOWING THE SHIPPING BLOCK AFTER LOADING THE PAGE 

      var content_block = document.querySelectorAll('#content_block');
      content_block[0].style.display = "block";

      if(document.getElementById('checkout_shipping_address_id') == undefined)
      return

      // HIDING THE ADDRESS SELECTOR

      var shipping_address = document.getElementById('checkout_shipping_address_id'); 
      var shipping_address_parent = document.getElementById('checkout_shipping_address_id').parentElement; 
      shipping_address_parent.childNodes[0].classList.add("visually--hidden");
      shipping_address.classList.add("visually--hidden");      

      // PARSING THE CORRECT ADDRESS AND ADDING AN INPUT COVER OVER THE FORM

      var address_data = JSON.parse(shipping_address[1].getAttribute('data-properties'));
      var shipping_block = document.querySelectorAll('.section--shipping-address');
      var input_cover = document.createElement("DIV");

      input_cover.classList.add("input-layer");
      shipping_block[0].appendChild(input_cover);  

      // VERIFYING AND ASSIGNING THE CORRECT ADDRESS TO THE SHIPPING FORM

      document.getElementById('checkout_shipping_address_first_name').value = address_data.first_name;
      document.getElementById('checkout_shipping_address_first_name').setAttribute("readonly", true);
      
      document.getElementById('checkout_shipping_address_last_name').value = address_data.last_name; 
      document.getElementById('checkout_shipping_address_last_name').setAttribute("readonly", true); 

      document.getElementById('checkout_shipping_address_company').value = address_data.company;
      document.getElementById('checkout_shipping_address_company').setAttribute("readonly", true);

      document.getElementById('checkout_shipping_address_address1').value = address_data.address1;
      document.getElementById('checkout_shipping_address_address1').setAttribute("readonly", true);

      document.getElementById('checkout_shipping_address_address2').value = address_data.adress2 || "";
      document.getElementById('checkout_shipping_address_address2').setAttribute("readonly", true);

      document.getElementById('checkout_shipping_address_city').value = address_data.city;
      document.getElementById('checkout_shipping_address_city').setAttribute("readonly", true);

      document.getElementById('checkout_shipping_address_country').value = address_data.country;
      document.getElementById('checkout_shipping_address_country').setAttribute("readonly", true);

      document.getElementById('checkout_shipping_address_province').value = address_data.province;
      document.getElementById('checkout_shipping_address_province').setAttribute("readonly", true);

      document.getElementById('checkout_shipping_address_zip').value = address_data.zip;
      document.getElementById('checkout_shipping_address_zip').setAttribute("readonly", true);

      var first_name = document.getElementById('checkout_shipping_address_first_name').parentElement;
      var company = document.getElementById('checkout_shipping_address_company').parentElement;

      // MODIFYING THE INPUT LABELS SO THEY DONT SAY (OPTIONAL)

      company.firstChild.innerHTML = "Company";
      first_name.firstChild.innerHTML = "First Name";

      // IE BUG FIX FOR SELECT INPUT THAT HAS A DELAYED LOADING 

      var chkReadyState = setInterval(function() {
        if (document.readyState == "complete") {

            clearInterval(chkReadyState);

            // CHANGES THE COUNTRY INPUT FROM A SELECT INPUT TO A NORMAL INPUT
            
            var country = document.getElementById('checkout_shipping_address_country');
            var country_parent = country.parentElement;
            var country_input = document.createElement("INPUT");

            country.classList.add("visually--hidden");

            country_input.classList.add("field__input");
            country_input.value = address_data.country;
            country_input.setAttribute("readonly", true);

            country_parent.classList.remove("field__input-wrapper--select");
            country_parent.appendChild(country_input);

            // CHANGES THE STATE INPUT FROM A SELECT INPUT TO A NORMAL INPUT

            var state = document.getElementById('checkout_shipping_address_province');
            var state_parent = state.parentElement;
            var state_input = document.createElement("INPUT");

            state.classList.add("visually--hidden");

            state_input.classList.add("field__input");
            state_input.value = address_data.province;
            state_input.setAttribute("readonly", true);

            state_parent.classList.remove("field__input-wrapper--select");
            state_parent.appendChild(state_input);
          }
        }, 0);
      
      // ERROR MESSAGE CREATION FOR SHIPPING ADDRESS FORM

      var step_section = document.querySelectorAll('.step__sections');

      var errors = document.querySelectorAll('.field__message--error');

      if(errors.length != 0){

        var global_error = document.createElement("P");
        global_error.classList.add("field__message", "field__message--error", "custom--error");
        global_error.innerHTML = "Invalid Shipping Address: Please contact customer service to request an address change.";
        step_section[0].appendChild(global_error);

      }
    }
  </script>
</html>
