<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        <div class="main" role="main">
          <div class="main__header">
            <a class="site-logo" href="/">
              <img class="site-logo-image checkout-image" src="{{ 'spacelabs-logo-small.png' | asset_url }}" alt="Spacelabs Healthcare">
            </a>
            
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div id="content_block" class="main__content" >
            {{ content_for_layout }}
          </div>

          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
  </body>
<script>
    window.onload = function() {

        // ERROR MESSAGE CREATION FOR SHIPPING ADDRESS FORM

        var step_section = document.querySelectorAll('.step__sections');
        var errors = document.querySelectorAll('.field__message--error');

        if (errors.length != 0) {

            var global_error = document.createElement("P");
            global_error.classList.add("field__message", "field__message--error", "custom--error");
            global_error.innerHTML = "Invalid Shipping Address: Please contact customer service to request an address change.";
            step_section[0].appendChild(global_error);

        }
    }

    // CALLS A FUNCTION FOR ALL FOLLOWING CHECKOUT STEPS

    document.getElementById("content_block").onload = step_loader();

    function step_loader() {
        
        var contact_block = document.querySelectorAll('.section--shipping-address');
        var shipping_block = document.querySelectorAll('.section--shipping-method');
        var payment_block = document.querySelectorAll('.section--payment-method');

        // VERIFYING PAGE SELECTION
        if(contact_block.length){

            var shipping_dropdown = document.querySelectorAll('#checkout_shipping_address_id');
            var dropdown_array = document.querySelectorAll('#checkout_shipping_address_id > option');

            for (var i = 0; i < dropdown_array.length; i++) { 

            var address_data_raw = dropdown_array[i].getAttribute("data-properties");
            var address_data = JSON.parse(address_data_raw);
                

                if(dropdown_array[i].innerHTML == 'New address…' ){
                    shipping_dropdown[0].removeChild(shipping_dropdown[0].children[i]);
                }
                if(address_data){ 
                    if(address_data.default){
                        //shipping_dropdown[0].removeChild(shipping_dropdown[0].children[i]);
                    }
                }

            }

            var form_inputs = document.querySelectorAll('.section--shipping-address > .section__content > .fieldset > .field');

            var attention_block = document.createElement('DIV');
            attention_block.classList.add('field__input-wrapper'); 
            attention_block.classList.add('attention-block');
            attention_block.innerHTML = '<label class="field__label field__label--visible" for="checkout_shipping_attention">Send to attention of:</label><input class="field__input field--blue" size="30" type="text" placeholder="Attention:" id="checkout_shipping_attention" oninput="attentionInputCheck(this)">';

            var contact_interval = window.setInterval(contactCallback, 100);
            function contactCallback() {

                if (form_inputs.length < 8) {

                } else {
               
                    clearInterval(contact_interval);
                    
                    var company_field = document.querySelectorAll("[data-address-field='company']");
                    company_field[0].appendChild(attention_block);

                    var input_layer = document.querySelectorAll('.field__input-wrapper');

                    document.getElementById('checkout_shipping_address_first_name').setAttribute("readonly", true);
                    document.getElementById('checkout_shipping_address_last_name').setAttribute("readonly", true);
                    document.getElementById('checkout_shipping_address_company').setAttribute("readonly", true);
                    document.getElementById('checkout_shipping_address_address1').setAttribute("readonly", true);
                    document.getElementById('checkout_shipping_address_city').setAttribute("readonly", true);
                    document.getElementById('checkout_shipping_address_country').setAttribute("readonly", true);
                    document.getElementById('checkout_shipping_address_province').setAttribute("readonly", true);
                    document.getElementById('checkout_shipping_address_zip').setAttribute("readonly", true);
                    document.getElementById('checkout_shipping_address_phone').setAttribute("readonly", true);

                    for (i = 0; i < input_layer.length; i++) { 

                        var inputs = input_layer[i];
  
                        switch(inputs.children[0].innerHTML) {
                            case 'Discount':
                                
                                break;
                            case 'Stored addresses':
                                
                                break;
                            case 'Send to attention of:':
                                
                                break;
                            default:
                                var input_cover = document.createElement('DIV');
                                input_cover.classList.add('input-cover');
                                inputs.classList.add('input-layer');
                                inputs.appendChild(input_cover); 
                        }
                    }

                    var first_name = document.getElementById('checkout_shipping_address_first_name').parentElement;
                    var company = document.getElementById('checkout_shipping_address_company').parentElement;
                    var phone = document.getElementById('checkout_shipping_address_phone').parentElement;

                                        
                    company.firstChild.innerHTML = "Company";
                    first_name.firstChild.innerHTML = "First name";      
                    phone.firstChild.innerHTML = "Phone";
                    phone.children[1].placeholder = "Phone";    
       
                }
                
            }

        }else if (shipping_block.length) {

            // SHIPPING BLOCK CHECKOUT PAGE

            var shipping_container = document.createElement('DIV');
            shipping_container.classList.add("shipping-container");
            shipping_container.innerHTML = '<div class="section__content"><div class="section__header" style="padding-top: 3em;"><h2 class="section__title">Shipping carrier information</h2></div><div class="section__content"><div class="fieldset"><div class="field field--optional field--show-floating-label field--half"><div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_carrier">Shipping Carrier</label><input placeholder="Shipping Carrier" class="field__input field--blue" type="text" id="checkout_shipping_carrier"  oninput="shippingInputCheck(this)" autocomplete="off" maxlength="20"></div></div><div class="field field--required field--show-floating-label field--half"><div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_shipping_number">Shipping Number</label><input placeholder="Shipping Number" class="field__input field--blue type="text" id="checkout_shipping_number"  oninput="shippingInputCheck(this)" autocomplete="off" maxlength="20" ></div></div></div></div>';

            shipping_block[0].appendChild(shipping_container);

            var radio_input = document.querySelectorAll('.input-radio');
            var shipping_interval = window.setInterval(shippingCallback, 500);

            function shippingCallback() {

                if (radio_input.length < 1) {
                 
                    radio_input = document.querySelectorAll('.input-radio');

                } else {
               
                    radio_input = document.querySelectorAll('.input-radio');

                    for (i = 0; i < radio_input.length; i++) {

                        var continue_button = document.querySelectorAll('.step__footer__continue-btn');
                        radio_input[i].setAttribute("onclick", "shippingSelectionRadio(this);");
                        radio_input[i].setAttribute("shipper", i);

                        if(radio_input[0].checked){

                            shipping_container.classList.remove("shipping-hidden");
                            continue_button[0].setAttribute("disabled", "disabled");
                        }else{

                            shipping_container.classList.add("shipping-hidden");
                            continue_button[0].removeAttribute("disabled");
                        }

                    }
                    clearInterval(shipping_interval);
                }
            }

            var custom_carrier_radio = document.querySelectorAll('.content-box__emphasis');

            for (var i = 0; i < custom_carrier_radio.length; i++) {
                
                if(custom_carrier_radio[i].innerText.trim() == "Free"){
                   
                    custom_carrier_radio[i].innerText = "";
                }
            }

            var shipping_line = document.querySelectorAll('.total-line--shipping');
            var tax_line = document.querySelectorAll('.total-line--taxes');
        
            if(shipping_line){
                shipping_line[0].children[0].innerText = "Shipping & Handling";
            } 

            if(tax_line){
                tax_line[0].children[0].innerText = "Est. Taxes";
            }         

             
           
        } else if (payment_block.length) {
    
            var purchase_order = document.querySelectorAll('.content-box__row--secondary > .blank-slate');
            var review_order = document.querySelectorAll('.order-summary__sections');
            var continue_button = document.getElementsByClassName('step__footer__continue-btn');
            continue_button[0].classList.add('hidden');

            var payment_button_container = document.createElement('DIV');
            payment_button_container.innerHTML = '<button id="additional-button" name="button" type="button" class="btn completed_order" style="margin-top: 20px; width: 100%;" onclick="completeOrderButton()"><span class="btn__content">Complete order</span><i class="btn__spinner icon icon--button-spinner"></i></button>';
            review_order[0].appendChild(payment_button_container);

            var purchase_box = document.createElement('DIV');

            purchase_box.classList.add('content-box');
            purchase_box.classList.add('content-box-alt');
            purchase_box.innerHTML = '<div class="purchase-order-box"><p class="error-string error-message-custom" style="text-align: center;" >Please enter a purchase order number for your records.</p><div class="fieldset" style="text-align: left; margin-top: 10px;"><div class="field field--show-floating-label"><div class="field__input-wrapper"><label class="field__label field__label--visible" for="checkout_purchase_order">Purchase Order #</label><input placeholder="Purchase Order #" autocorrect="off" class="field__input field--blue" type="text" id="checkout_purchase_order" oninput="purchaseOrderInput(this)" maxlength="16"><input id="purchase-order-value" type="hidden" name="checkout[note_attributes][purchase_order]" type="text" value="none"/><input id="attention-value"  type="hidden" name="checkout[note_attributes][attention]" type="text" /><input id="shipping-name-value" type="hidden" name="checkout[note_attributes][shipping_name]" type="text"  /><input id="shipping-number-value" type="hidden" name="checkout[note_attributes][shipping_number]" type="text"  /></div></div></div></div>';

            payment_block[0].appendChild(purchase_box);
            var shipping_value_name = document.querySelectorAll('#shipping-name-value');
            var shipping_value_number = document.querySelectorAll('#shipping-number-value');
            var attention_value = document.querySelectorAll('#attention-value');

            shipping_value_name[0].value = getCookie("spacelabs_shipping");
            if(!shipping_value_name[0].value){
                shipping_value_name[0].value = "none";
            }

            shipping_value_number[0].value = getCookie("spacelabs_shipping_number");
            if(!shipping_value_number[0].value){ 
                shipping_value_number[0].value = "none";
            }
            
            attention_value[0].value = getCookie("spacelabs_attention");
            if(!attention_value[0].value){
                attention_value[0].value = "none";
            }

            var shipping_review_carrier = document.querySelectorAll('.review-block__content');

            for (var i = 0; i < shipping_review_carrier.length; i++) {
                
                if(shipping_review_carrier[i].innerText == "Bill my freight carrier · Free"){
                    shipping_review_carrier[i].innerText = "Bill my freight carrier";
                }
            }

            var shipping_line = document.querySelectorAll('.total-line--shipping');
            var tax_line = document.querySelectorAll('.total-line--taxes');

            if(shipping_line){
                shipping_line[0].children[0].innerText = "Shipping & Handling";
            } 

            if(tax_line){
                tax_line[0].children[0].innerText = "Est. Taxes";
            }                     

        } else {
            
            setTimeout(step_loader, 1000);
            
            
        }

    }

    // CHANGE LOCATION OF THE PAYMENT BUTTON AND SUBMIT THROUGH HIDDEN BUTTON

    function completeOrderButton() {

        var continue_button = document.querySelectorAll('.step__footer__continue-btn'); 
        continue_button[0].click();
    }

    // PURCHASE ORDER # INPUT VALIDATION

    function purchaseOrderInput(input) {
        
        var custom_text = document.querySelectorAll('.error-string');
        var purchase_order = document.querySelectorAll('#purchase-order-value');

        if (input.value.length < 2) {

            custom_text[0].classList.add('error-message-custom');
            purchase_order[0].value = "none";

        } else {
 
            custom_text[0].classList.remove('error-message-custom');
            purchase_order[0].value = input.value;

        }

    }

    // CHECKING THE CARRIER SELECTION TO DISABLE THE CONTINUE BUTTON

    function shippingSelectionRadio(radio_button) {

        var shipping_block = document.querySelectorAll('.shipping-container');
        var continue_button = document.querySelectorAll('.step__footer__continue-btn');

        var shipping_method = radio_button.value;
        shipping_method.slice(0, 7);
        var shipping_verify = shipping_method.slice(0, 7);

        if (shipping_verify == "shopify" && radio_button.getAttribute("shipper") == 0) {

            shipping_block[0].classList.remove("shipping-hidden");
            continue_button[0].setAttribute("disabled", "disabled");

        } else {

            document.cookie = "spacelabs_shipping=none;path=/";
            document.cookie = "spacelabs_shipping_number=none;path=/";

            shipping_block[0].classList.add("shipping-hidden");
            continue_button[0].removeAttribute("disabled");
        }
    }

    function attentionInputCheck(input){

        if(input.value.length > 2 ){
            document.cookie = "spacelabs_attention=" + input.value + ";path=/";
            input.classList.remove('field--blue');
        }else{
            document.cookie = "spacelabs_attention=none;path=/";
            input.classList.add('field--blue');
        }

    }
    // VERIFYING THAT BOTH SHIPPING INPUT FIELDS HAVE BEEN FILLED AND SETS A TEMPORARY COOKIE

    function shippingInputCheck(input) {
        
        var continue_button = document.querySelectorAll('.step__footer__continue-btn');
        var shipping_carrier = document.querySelectorAll('#checkout_shipping_carrier');
        var shipping_number = document.querySelectorAll('#checkout_shipping_number');

        if (input.value.length < 2) {
            input.classList.add('field--blue');
        } else {
            input.classList.remove('field--blue');
        }

        if (shipping_carrier[0].value.length > 2 && shipping_number[0].value.length > 2) {

            continue_button[0].removeAttribute("disabled");

            document.cookie = "spacelabs_shipping=" + shipping_carrier[0].value + ";path=/";
            document.cookie = "spacelabs_shipping_number=" + shipping_number[0].value + ";path=/";

        }else{

            continue_button[0].setAttribute("disabled", "disabled");

        }
    }

    // SETS A COOKIE THAT EXPIRE ON BROWSER EXIT

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    //var tax_interval = window.setInterval(taxCallback, 1000);

    //        function taxCallback() {


    //            var tax_line = document.querySelectorAll('.total-line--taxes');
    //            var shipping_line = document.querySelectorAll('.total-line--shipping');

    //            setTimeout(function(){ 
    //                if(tax_line){

    //                    if(tax_line[0].children[0].innerText == "Taxes"){

     //                   tax_line[0].children[0].innerText = "Est. Taxes";
     //                    shipping_line[0].children[0].innerText = "Shipping & Handling";
     //                   }else{
//
    //                        clearInterval(tax_interval);

       //                 }

        //            }

      //           }, 1000);

       //     }
  </script>
</html>
